h1 {
    color: white;
    background: gray;
    text-align: center;
    padding: 2%;
    font-family: 'Krona One', sans-serif;
  }
body{
    background: whitesmoke;
}
#city-input{
    width: 80%;
}
#add-cities{
    width: 15%;
}
.row{
    margin-bottom: 10%;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
#city-input{
    text-transform: capitalize;
}
.border-white {
    border: 5px
}
